*{
    margin: 0px;
    padding: 0px;
}
body html{
    height: 100%;
    width: 100%;
    
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    position: fixed;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5 );
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.1 );
    font-size: 40px;
    text-align: right; 
    cursor: pointer;
    color: #fff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -15px 18px rgba(255,255,255,0.1);
    cursor: pointer;
}
h1{
    position: relative;
    bottom: 34%;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: black 1px 0 15px;
    
    color: transparent;
     -webkit-text-stroke: 1px  grey;
}
@media (max-width:568px) {
    .calculator{
        border: 1px solid #717377;
        padding: 0px;
     margin-left: 10px;
     width: 330px;
        border-radius: 18px;
        
    }
    input{
        width: 280px;
        border: none;
        padding: 14px;
        margin: 8px;
        background: transparent;
        box-shadow: 0px 3px 15px rgba(84,84,84,0.1 );
        font-size: 40px;
       
    }
    button{
        border: none;
        width: 60px;
        height: 60px;
        margin: 7px;
       left: 3.4%;
        font-size: 15px;
        position: relative;
        box-shadow: -8px -15px 18px rgba(255,255,255,0.1);
        cursor: pointer;
    }
    h1{
        font-size: 7vw;
       color: transparent;
        -webkit-text-stroke: 1px  grey;
    }
}